<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jose.javaquiz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
         >
        <activity
            android:name="com.jose.javaquiz.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jose.javaquiz.GameActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.jose.javaquiz.RegisterActivity"
            android:label="@string/title_activity_register" 
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.jose.javaquiz.LoginActivity"
            android:label="@string/title_activity_activity_login"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.jose.javaquiz.AfterLogin"
            android:label="@string/title_activity_after_login" 
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.jose.javaquiz.Sett"
            android:label="@string/title_activity_setting"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.jose.javaquiz.Test"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.jose.javaquiz.Result"
            android:label="@string/title_activity_result"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.jose.javaquiz.ResultFragment"
            android:label="@string/title_activity_result_fragment" 
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.jose.javaquiz.HistoryResult"
            android:label="@string/title_activity_history_result"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.jose.javaquiz.Results"
            android:label="@string/title_activity_results"
            android:parentActivityName="com.jose.javaquiz.ResultFragment"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jose.javaquiz.ResultFragment" />
        </activity>
    </application>

</manifest>
